$color-primary: #381E10;
$color-primary-dark: #211508;
$color-secondary: #D6FFBE;
$color-secondary-dark: #228765;
$color-tertiary: #9FDB43;
$color-tertiary-light: #C4FF6E;
$color-brown-secondary-light: #bcb09f;
$color-brown-secondary-dark: #998e7e;
$color-white: #fff;